/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{
    --primary: #ffcc00;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'lato', sans-serif;
    background-color: black;
    Color: white;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*menu*/
.menu-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}
.img-complete{
    display: none;
}
.img-frame{
    height: 32px;
    margin-left: 20px;
}
.link-search, .link-news, .link-menu{
    display: none;
}
.link-login{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 20px;
}
.link-subs{
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 20px;
    padding: 12px;
    display: inline-block;
    background: linear-gradient(to left, black 50%, #ffcc00 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.link-arrows{
    color: black;
    margin-right: 20px;
}
.link-subs:hover{
    background-position: left;
    color: black;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
}
header h1{
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 25px;
}
header p{
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    font-weight: 8px;

}
p span.subscribe-word{
    color: white;
    border-bottom: 2px solid #ffcc00;
    background-size: 100% 200%;
    background-image:linear-gradient(to bottom, black 50%, var(--primary) 50%);
    transition: background-position .1s ease-in-out, color .1s ease-in-out;
}
span.subscribe-word:hover{
    background-position: 0 100%;
    color: black;
}
div.border{
    border-bottom-style: solid;
    border-color: var(--primary);
    border-width: 4px;
    padding: 12px;
    margin-right: 47%;
    margin-left: 47%;
}
/*main news section*/
.main-news{
    position: relative;
    margin-bottom: 20px;
}
.main-news-text{
    position: absolute;
    top: 290px;
    left: 20px;
}
.main-news-text h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10PX;
}
.main-news-text p{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.main-news-text h4{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 12px;
}
.main-news img{
    min-width: 100%;
}
/*secondary news section*/
.secondary-news{
    margin-bottom: 20px;
}
.secondary-news h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(71, 69, 69);
    margin-bottom: 10px;
    margin-top: 5px;
}
.secondary-news p{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}
.secondary-news h4{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
}
.secondary-news img{
    min-width: 100%;
    margin-top: 10px;
}
.secondary-news-text{
    background-color: white;
    color: black;
    margin-top: -10px;
    padding: 20px;
}