/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{
    --primary: #ffcc00;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'lato', sans-serif;
    background-color: black;
    Color: white;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*menu*/
.menu-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}
.img-complete{
    display: none;
}
.img-frame{
    height: 32px;
    margin-left: 20px;
}
.link-search, .link-news, .link-menu{
    display: none;
}
.link-login{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 20px;
}
.link-subs{
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 20px;
    padding: 12px;
    display: inline-block;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, black 50%, #ffcc00 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.link-arrows{
    color: black;
    margin-right: 20px;
}
.link-subs:hover{
    background-position: left;
    color: black;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
}
header h1{
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 25px;
}
header p{
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    font-weight: 8px;

}
p span.subscribe-word{
    background: black;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffcc00;
    text-decoration-thickness: 2px;
    background-color: black;
    position: relative;
}
span.subscribe-word{
    transition: all 0.4s linear;
}
span.subscribe-word:hover{
    background-color: var(--primary);
    color: black;
}
div.border{
    border-bottom-style: solid;
    border-color: var(--primary);
    border-width: 4px;
    padding: 12px;
    margin-right: 47%;
    margin-left: 47%;
}

